<section class="grid-center">
  {% for item in page.packages %}
<div class="col-6_xs-12 padded-2">
  <div class="grey padded-5">
    <h2>{{item.name}}</h2>
    <p>{{item.description}}</p>
    <h3>What's included</h3>
    <ul>
      {% for include in item.includes %}
      <li>{{include.list-item}}</li>
      {% endfor %}
    </ul>
    <h3>From</h3>
    <h4>US ${{item.price}}</h4>
  </div>

  {% if item.add-on-section %}
  <div class="padded-top">
    <h3>Add-ons</h3>
    <p>{{item.add-ons-description}}</p>
    <ul>
      {% for add-on in item.add-ons-list %}
      <li>{{add-on.list-item}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>
{% endfor %}
</section>
<div class="align-center padded-5">
  <a href='/contact' class="button">book your package</a>
</div>
