<section class="bg-color-form padded-top">
  <h1>Contact</h1>
  <div class="grid">
  <div class="col-6_xs-12 padded-2 padded grid-top">
    <p>I’d love to connect with you! If you have an idea, a project or a business, and would like to collaborate with Love is Creative, please complete this form. I’ll connect with you in less than 48h to know more about you and your project.</p>
    <p>If you have any questions, jump to the FAQ section in each of the packages and check if it’s already been covered. If not, or if you just want say hola, I’d love to hear from you. Send me a general email to:</p>
    <a href='mailto:angels@loveiscreative.com'>angels@loveiscreative.com</a>
  </div>


  <!-- - - - - - - - - - - FORM - - - - - - - - - - -  -->
  <div class="col-6_xs-12 padded-2 bg-mob-grey">
    <form action="https://formspree.io/angels@loveiscreative.com" method="post">
      <label for="firstname" class="mob-show">first name</label>
        <input type="text" name="firstname" placeholder="first name" required>
      <label for="lastname" class="mob-show">last name name</label>
        <input type="text" name="lastname" placeholder="last name" required>
      <label for="email" class="mob-show">email</label>
        <input type="email" name="email" placeholder="email" required>
      <label for="tel" class="mob-show">phone</label>
        <input type="tel" name="phone" placeholder="phone">
      <label for="country" class="mob-show">country</label>
        <input type="text" name="country" placeholder="country">
      <label for="businessname" class="mob-show">what's the name of your business?</label>
        <input type="text" name="businessname" placeholder="what's the name of your business?">
      <div class="businesswebsite">
        <label for="businesswebsite" class="businesswebsite">do you currently have a business website?</label>
          <p><label for="businesswebsite-no"><input type="radio" name="businesswebsite" value="no" id="businesswebsite-no">No</label></p>
          <p><label for="businesswebsite-yes"><input type="radio" name="businesswebsite" value="yes" id="businesswebsite-yes">Yes</label></p>
          <input type="text" name="businesswebsite" placeholder="http://">
        </div>
      <div class="service">
        <label for="service" class="service">what service are you interested in?</label>
          <p><label for="web"><input type="checkbox" name="service" value="web" id="web">web design & development</label></p>
          <p><label for="graphic"><input type="checkbox" name="service" value="brand" id="brand">brand design & strategy</label></p>
          <p><label for="custom"><input type="checkbox" name="service" value="full" id="full">full package</label></p>
      </div>
      <label for="time" class="mob-show">how soon do you want to start the project?</label>
        <input type="text" name="time" placeholder="how soon do you want to start the project?">
      <label for="why" class="mob-show">why do you want to work with Love is Creative?</label>
        <textarea name="why" form="textarea" placeholder="why do you want to work with Love is Creative?"></textarea>
      <label for="comment" class="mob-show">is there anything else that you want me to know?</label>
        <textarea name="comment" form="textarea" placeholder="is there anything else that you want me to know?"></textarea>
      <button type="submit" class="button">submit</button>
      </div>
    </form>
  </div>
</section>
