<section class="padded-top padded-bottom">
  <h2>FAQ</h2>

<!-- - - - - - - - - - - faq section body - - - - - - - - - - -  -->
  <div class="grid">
    <div class="dropdown-nav col-6_xs-12 padded-2">
      <h2>How do we get started?</h2>
      <div class="dropdown-content relative">
        <p>Technology crowdfunding product management learning curve bootstrapping. Responsive web design facebook interaction design customer pivot hackathon user experience iteration accelerator equity value proposition. Launch party vesting period accelerator freemium.</p>
      </div>
   </div>
   <div class="dropdown-nav col-6_xs-12 padded-2">
     <h2>How do we get started?</h2>
     <div class="dropdown-content relative">
       <p>Technology crowdfunding product management learning curve bootstrapping. Responsive web design facebook interaction design customer pivot hackathon user experience iteration accelerator equity value proposition. Launch party vesting period accelerator freemium.</p>
     </div>
  </div>
  <div class="dropdown-nav col-6_xs-12 padded-2">
    <h2>How do we get started?</h2>
    <div class="dropdown-content relative">
      <p>Technology crowdfunding product management learning curve bootstrapping. Responsive web design facebook interaction design customer pivot hackathon user experience iteration accelerator equity value proposition. Launch party vesting period accelerator freemium.</p>
    </div>
 </div>
 <div class="dropdown-nav col-6_xs-12 padded-2">
   <h2>How do we get started?</h2>
   <div class="dropdown-content relative">
     <p>Technology crowdfunding product management learning curve bootstrapping. Responsive web design facebook interaction design customer pivot hackathon user experience iteration accelerator equity value proposition. Launch party vesting period accelerator freemium.</p>
   </div>
 </div>
  <div class="dropdown-nav col-6_xs-12 padded-2">
    <h2>How do we get started?</h2>
    <div class="dropdown-content relative">
      <p>Technology crowdfunding product management learning curve bootstrapping. Responsive web design facebook interaction design customer pivot hackathon user experience iteration accelerator equity value proposition. Launch party vesting period accelerator freemium.</p>
    </div>
  </div>
  <div class="dropdown-nav col-6_xs-12 padded-2">
    <h2>How do we get started?</h2>
    <div class="dropdown-content relative">
      <p>Technology crowdfunding product management learning curve bootstrapping. Responsive web design facebook interaction design customer pivot hackathon user experience iteration accelerator equity value proposition. Launch party vesting period accelerator freemium.</p>
    </div>
  </div>
</div>


</section>
