<section class="yellow align-center">
  <div>
    <h3>Stand out from the crowd with a</h3>
    <h2>Full Brand & Website Package</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="padded-2">
    <a href='/services/full-package' class="button-2">check out the special full package</a>
  </div>
</section>
