<section class="sign-up">
  <h3>Join the Tribe and Get Exclusive Freebies</h3>
  <p>Get on Love is Creative’s list for exclusive invitations to sweet freebies, such as web strategy reviews and private consultations, which I will offer in limited numbers every month. Shhhh... only you will know.</p>
  <form action="index.html" method="post">
    <label for="firstname" class="mob-show">your name</label>
    <input type="text" name="name" placeholder="your name" required>
    <label for="email" class="mob-show">your email</label>
    <input type="email" name="email" placeholder="your email" required>
    <button type="submit" class="button">sign up</button>
  </form>
</section>
