<section class="sign-up">
  <h3>Sign up</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form action="index.html" method="post">
    <label for="firstname" class="mob-show">your name</label>
    <input type="text" name="name" placeholder="your name" required>
    <label for="email" class="mob-show">your email</label>
    <input type="email" name="email" placeholder="your email" required>
    <button type="submit" class="button">sign up</button>
  </form>
</section>
