---
layout: default
title: Love is Creative - Brand Strategy &amp; Design
service: Brand Strategy &amp; Design
description: You keep scrolling your feed and see all these beautifully-branded businesses, but you’re struggling to visually communicate your story. Does that strike a chord? Then, I’ll share a little secret with you. I’m a mind brand reader. I can help you identify your people and visually express the soul of your brand so you get your business rolling.
bg_image: /images/bg-graphic.jpg
featured_image: /images/graphic-design.jpg
image-alt: brand strategy design
testimonial:
testimonial-name:
testimonial-company:
<!-- featured-project1_image: /images/web-design-development.jpg
featured-project1-alt: brand strategy design
featured-project1-url: projects/bri-king-tutoring
featured-project2_image: /images/graphic-design.jpg
featured-project2-alt: brand strategy design
featured-project2-url: projects/c-llegal -->
packages:
  - name: Basic Brand Package
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    includes:
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
    investment: 2000
    add-ons-description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    add-on-section: true
    add-ons-list:
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
---

<!-- - - - - - - - - - - HEADER INFO - - - - - - - - - - -  -->
{% include service-header.html %}

<!-- - - - - - - - - - - SECTION PACKAGES - - - - - - - - - - -  -->
{% include brand-packages.html %}

<!-- - - - - - - - - - - SECTION FEATURED PROJECTS - - - - - - - - - - -  -->
{% include featured-projects.html %}

<!-- - - - - - - - - - - SECTION TESTIMONIAL - - - - - - - - - - -  -->
<!-- {% include testimonials.html %} -->

<!-- - - - - - - - - - - SECTION FAQ - - - - - - - - - - -  -->
{% include faq.html %}

<!-- - - - - - - - - - - SECTION FEATURED FULL PACKAGE - - - - - - - - - - -  -->
{% include featured-package.html %}

<!-- - - - - - - - - - - SECTION CONTACT - - - - - - - - - - -  -->
{% include contact-form.html %}
