---
layout: default
title: Love is Creative - Brand Strategy &amp; Design
service: Brand Strategy &amp; Design
description: You keep scrolling your feed and see all these beautifully-branded businesses, but you’re struggling to visually communicate your story. Does that strike a chord? Then, I’ll share a little secret with you. I’m a brand reader. I can help you identify your people and visually express the soul of your brand so you get your business rolling.
bg_image: /images/bg-graphic.jpg
featured_image: /images/graphic-design.jpg
image-alt: brand strategy design
testimonial:
testimonial-name:
testimonial-company:
<!-- featured-project1_image: /images/web-design-development.jpg
featured-project1-alt: brand strategy design
featured-project1-url: projects/bri-king-tutoring
featured-project2_image: /images/graphic-design.jpg
featured-project2-alt: brand strategy design
featured-project2-url: projects/c-llegal -->
packages:
  - name: Essential Brand Design Package
    description: It’s time to focus on what you do best and leave me the job of creating your visual voice (not just a logo). This package will deliver all the essentials you need to launch with confidence and in alignment with your purpose, bringing a strategic approach that will create the best brand experience for your audience. All we need is 3 weeks.
    includes:
      - list-item: Brand in-depth questionnaire to help you, and me, be clear about the soul of your brand
      - list-item: One-on-one strategy clarity session
      - list-item: Research and moodboard creation
      - list-item: Logo design, 2-3 concepts and up to 2 revisions
      - list-item: Style guide, including colour palette, font and photography recommendations
      - list-item: Social media profile images for 2 social media platforms
      - list-item: Email signature design, up to 2 members
      - list-item: Business cards design, up to 2 members
    price: 600
    add-ons-description:
    add-on-section: true
    add-ons-list:
      - list-item: US &#36;150 - Pack of 10 graphic design collaterals (eg. newsletter template, banners, social media sharing, one-page media kits, extra business card), up to 1 mockup and 1 revision of each
---

<!-- - - - - - - - - - - HEADER INFO - - - - - - - - - - -  -->
{% include service-header.html %}

<!-- - - - - - - - - - - SECTION PACKAGES - - - - - - - - - - -  -->
{% include brand-packages.html %}

<!-- - - - - - - - - - - SECTION FEATURED PROJECTS - - - - - - - - - - -  -->
{% include featured-projects.html %}

<!-- - - - - - - - - - - SECTION TESTIMONIAL - - - - - - - - - - -  -->
<!-- {% include testimonials.html %} -->

<!-- - - - - - - - - - - SECTION FAQ - - - - - - - - - - -  -->
{% include faq.html %}

<!-- - - - - - - - - - - SECTION FEATURED FULL PACKAGE - - - - - - - - - - -  -->
{% include featured-package.html %}

<!-- - - - - - - - - - - SECTION CONTACT - - - - - - - - - - -  -->
{% include contact-form.html %}
