---
layout: default
title: Love is Creative - Full Brand &amp; Web Package
service: Full Brand &amp; Web Package
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
bg_image: /images/bg-full-package.jpg
featured_image: /images/full-package.jpg
image-alt: full package
testimonial: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
testimonial-name: Judith Cáliz
testimonial-company: C&amp;Llegal
featured-project1_image: /images/web-design-development.jpg
featured-project1-alt: web design development
featured-project1-url: projects/bri-king-tutoring
featured-project2_image: /images/graphic-design.jpg
featured-project2-alt: web design development
featured-project2-url: projects/c-llegal
packages:
  - name: Full Brand &amp; Web Package
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    includes:
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
      - list-item: Technology crowdfunding product management learning curve bootstrapping.
    investment: 2000
    add-ons-description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    add-on-section: false
---

<!-- - - - - - - - - - - HEADER INFO - - - - - - - - - - -  -->
<section class="bg-full-package padded-bottom">
  <div class="mob-show">
    <img src="/images/full-package.jpg" alt="full package">
  </div>
  <div class="text-box bump-down">
    <h2>Brand & Web Design</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<p>
  </div>
</section>

<!-- - - - - - - - - - - SECTION PACKAGE - - - - - - - - - - -  -->
{% include brand-packages.html %}

<!-- - - - - - - - - - - SECTION BOOK SEPARATE PACKAGES - - - - - - - - - - -  -->
<section>
  <h2>Or choose your separate packages</h2>
  <div class="grid padded-2">
    <div class="col-6 align-center">
      <a href='/services/web-design-development' class="button">web design & development</a>
    </div>
    <div class="col-6 align-center">
      <a href='/services/graphic-design' class="button">graphic design & brand identity</a>
    </div>
  </div>
</section>

<!-- - - - - - - - - - - SECTION CREATIVE VA PACKAGE - - - - - - - - - - -  -->
<!-- <section class="yellow align-center padded-bottom">
  <div>
    <h3>Do you want to hand over your day-to-day distractions?</h3>
    <h2>Get our Creative Virtual Assistant Package</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="padded-2">
    <a href='/services/full-dream-package' class="button-2">check it out</a>
  </div>
</section> -->

<!-- - - - - - - - - - - SECTION FEATURED PROJECTS - - - - - - - - - - -  -->
{% include featured-projects.html %}

<!-- - - - - - - - - - - SECTION TESTIMONIAL - - - - - - - - - - -  -->
{% include testimonials.html %}

<!-- - - - - - - - - - - SECTION FAQ - - - - - - - - - - -  -->
{% include faq.html %}

<!-- - - - - - - - - - - SECTION CONTACT - - - - - - - - - - -  -->
{% include contact-form.html %}
