<!DOCTYPE html>
<html>
<head>
  <title> {{page.title}} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Open+Sans:400,600" >
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
<!-- - - - - - - - - - - TOP NAVIGATION BAR - - - - - - - - - - -  -->
<header>
<div class="grid-middle tab-hide">
  <a class="col-4" href="/index.html">
    <img src="/images/love-is-creative-logo.svg" alt="love is creative logo">
  </a>
  <nav class="col-8">
    <li><a href="/about">About</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Get in touch</a></li>
  </nav>
</div>

<nav class="mob-logo tab-show">
  <a href="/index.html"><img src="/images/love-is-creative-logo.svg" alt="love is creative logo"></a>
   <div class="burger-button">
       <span class="burger-top"></span>
       <span class="burger-middle"></span>
       <span class="burger-bottom"></span>
   </div>
    <div class="burger-menu">
     <ul>
       <li><a href="/index">Home</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/services">Services</a></li>
       <li><a href="/projects">Projects</a></li>
       <li><a href="/contact">Get in touch</a></li>
     <ul>
   </div>
 </nav>



</header>
<!-- - - - - - - - - - - CONTENT - - - - - - - - - - -  -->





{{content}}






<!-- - - - - - - - - - - NAVIGATION FOOTER - - - - - - - - - - -  -->
<footer class="grid mob-hide">
  <div class="col-6">
    <nav>
      <h3>Services</h3>
      <li><span class="trial"><a href="/services/web-design-development">Web Design & Development</a></span></li>
      <li><span><a href="/services/graphic-design">Graphic Design & Brand Strategy</a></span></li>
      <!-- <li><span><a href="/services/creative-va">Creative Virtual Assistant</a></span></li> -->
      <li><span><a href="/services/full-dream-package">Full Web Design & Brand Strategy</a></span></li>
    </nav>
  </div>
  <div class="col-3">
    <nav>
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Get in touch</a></li>
    </nav>
  </div>
  <div class="col-3">
    <nav>
      <h3>Languages</h3>
      <li><a href="#">English</a></li>
      <li><a href="#">Español</a></li>
      <!-- <li><a href="#">Català</a></li> -->
    </nav>
  </div>
</footer>

<footer class="mob-show align-center">
    <nav>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><span class="trial"><a href="/services/web-design-development">Web Design & Development</a></span></li>
      <li><span><a href="/services/graphic-design">Graphic Design & Brand Strategy</a></span></li>
      <!-- <li><span><a href="/services/creative-va">Creative Virtual Assistant</a></span></li> -->
      <li><span><a href="/services/full-dream-package">Full Web Design & Brand Strategy</a></span></li>
      <li><a href="/contact">Get in touch</a></li>
    </nav>
  <div class="languages-mobile align-center">
    <nav>
      <li><a href="#">English</a></li>
      <li><a href="#">Español</a></li>
      <!-- <li><a href="#">Català</a></li> -->
    </nav>
  </div>
</footer>

  <!-- - - - - - - - - - - SUBFOOTER - - - - - - - - - - -  -->
  <!-- - - - - - - - - - - SOCIAL MEDIA - - - - - - - - - - -  -->
<section class="sub-footer">
  <div class="social-media align-center">
    <a href="url('http://instagram.com/loveiscreative')"><i class="fa fa-instagram"></a></i>
    <!-- <a href="url('http://pinterest.com/loveiscreative')"><i class="fa fa-pinterest-p"></a></i> -->
  </div>

  <!-- - - - - - - - - - - COPYRIGHT - - - - - - - - - - -  -->
  <div class="copyright align-center">
    <p>Copyright 2017. All rights reserved</p>
    <a class="col-4" href="/index.html">
      <img src="/images/love-is-creative-logo.svg" alt="love is creative logo">
    </a>
  </div>
</section>

<!-- - - - - - - - - - - jQuery - - - - - - - - - - -  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/typed.js"></script>
<script src="/scripts/main.js"></script>


</body>
</html>
